@using Blazored.Modal

<ModalWrapper>
    <ModalHeader>
        <h3>Error</h3>
    </ModalHeader>
    <ModalBody>
        @if (!string.IsNullOrEmpty(Message))
        {
            <p>@Message</p>
        }
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-danger" @onclick="CloseModal">Ok</button>
    </ModalFooter>
</ModalWrapper>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = default!;
    [Parameter] public string Message { get; set; } = string.Empty;

    private async Task CloseModal()
    {
        await ModalInstance.CloseAsync();
    }
}