@using Blazored.Modal
@using Blazored.Modal.Services
@inject IJSRuntime JsRuntime
@inject HttpClient Http
@inject IModalService Modal

<LoadingSpinner IsLoading="@isLoading" />

<ModalWrapper>
    <ModalHeader>
        <h3>Register</h3>
    </ModalHeader>
    <ModalBody>
        <button class="btn btn-success" @onclick="RegisterWithoutNostr">Register with username</button>
        <button class="btn btn-primary" @onclick="RegisterWithNostr">Register with nos2x</button>
    </ModalBody>
    <ModalFooter>
        <div class="d-flex justify-content">
            <button type="button" class="btn btn-danger" @onclick="CloseModal">Cancel</button>
        </div>
    </ModalFooter>
</ModalWrapper>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = default!;
    private bool isLoading = false;

    private async Task RegisterWithoutNostr()
    {
        isLoading = true;
        await CloseModal();
        await OpenNextFormWithoutNostr();
    }

    private async Task OpenNextFormWithoutNostr()
    {
        isLoading = true;
        var parameters = new ModalParameters();
        var options = new ModalOptions { };
        Modal.Show<RegisterDetailsWithoutNostrModal>("Register Details", parameters, options);
    }

    private async Task RegisterWithNostr()
    {
        try
        {
            isLoading = true;
            StateHasChanged();
            string pubKey = await JsRuntime.InvokeAsync<string>("nos2x.getPublicKey");
            string secret = Guid.NewGuid().ToString();

            var response = await Http.PostAsJsonAsync("/api/auth/registernewuser", new
            {
                PubKey = pubKey,
                Secret = secret
            });

            if (response.IsSuccessStatusCode)
            {
                await OpenNextFormWithNostr();
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Conflict)
            {
                ShowErrorModal("This pubkey is already registered, try to login instead.");
                isLoading = false;
                StateHasChanged();
            }
            else
            {
                string errorContent = await response.Content.ReadAsStringAsync();
                ShowErrorModal($"Registration failed: {errorContent}");
                isLoading = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            ShowErrorModal($"Error during registration: {ex.Message}");
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task OpenNextFormWithNostr()
    {
        var parameters = new ModalParameters();
        var options = new ModalOptions { };
        await CloseModal();
        Modal.Show<RegisterDetailsWithNostrModal>("Register Details", parameters, options);

        isLoading = false;
        StateHasChanged();
    }

    private void ShowErrorModal(string message)
    {
        var parameters = new ModalParameters();
        parameters.Add("Message", message);

        Modal.Show<IncorrectUserOrPasswordModal>("Error", parameters);
    }

    private async Task CloseModal()
    {
        await ModalInstance.CloseAsync();
    }
}
