<ModalWrapper>
    <ModalHeader>
        <h3>TestModal</h3>
    </ModalHeader>
    
    <ModalBody>
        <span>Test Text</span>
    </ModalBody>
    
    <ModalFooter>
        <span>Testing</span>
    </ModalFooter>
</ModalWrapper>

@code {

}
